MP_CLIENT_ID=seu_client_id
MP_CLIENT_SECRET=seu_client_secret
MP_REDIRECT_URI=http://localhost:5000/oauth/mercadopago/callback
MP_WEBHOOK_SECRET=seu_webhook_secret
FLASK_SECRET_KEY=f29f868d5841bd85556256d9f0db4d41daf1f9a82812bcbfb7ccf5fe2c50bc53
